@tailwind base;
@tailwind components;
@tailwind utilities;

@import './animations.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

/* Désactiver temporairement le mode sombre pour éviter les problèmes de contraste */
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
